 <!-- Footer Start -->
    <div class="wd_footer_bottom_wrapper wd_toppadder100 wd_bottompadder100">
        <div class="wd_overlay"></div>
        <a href="#" class="scrollToTop"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12- col-xs-12">
                    <div class="wd_footer_section">
                        <%= link_to image_tag("logo.png", alt: "Logo do Projeto Nova Era", title:"logo", class:"img-responsive") %>
                        <span class="title-footer">Forever And Always Our Love<br>Thank You</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12- col-xs-12">
                    <div class="wd_footer_section wd_toppadder30">
                        <p class="wd_copyright">@ Copyright 2018 All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer End -->
